{% extends 'base.html' %}

{% block content %}
    {% if error %}
        <div style="padding: 1rem;background-color: red;">
            <h3>خطا</h3>
            <span>{{ error_msg }}</span>
        </div>
    {% endif %}
    <h1 style="margin-left: 600px">signup</h1>
    <div class="ff">
        <form method="post" style="margin-top: 50px">
            {% csrf_token %}
            <label for="a" style="margin-left: 500px">username:
                <input type="text" id="a" name="username">
            </label>
            <br>
            <br>
            <label for="b" style="margin-left: 500px">email:
                <input type="email" id="b" name="email" style="margin-left: 25px">
            </label>
            <br>
            <br>
            <label for="c" style="margin-left: 500px">password:
                <input type="password" id="c" name="password">
            </label>
            <br>

            <button type="submit" style="margin-left: 600px">register</button>
            <div class="second"><a href="{% url 'client:edit_profile' %}">login</a></div>
        </form>
    </div>
    <p>{{ error_msg }}</p>
{% endblock %}